* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

p {
    font-size: 15px;
}

:root {
    --header-line-height: 46.5px;
}

.text-white {
    color: #fff !important;
}

.list-place::after, .list-tour::after, .list-member::after,
.contact-info::after {
    content: "";
    display: block;
    clear: both;
}

/* Header */
#header {
    height: var(--header-line-height);
    width: 100%;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    position: fixed;
}

#header>.nav>li,
#header .nav li a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    line-height: var(--header-line-height);
    padding: 0 12px;
    font-size: 15px;
    display: inline-block;
    position: relative;
}

#header li:hover,
#header>.nav>li:hover>a {
    background-color: #ccc;
    color: #000;
}

#header .nav-more {
    padding: 0 24px !important;
}

#header .subnav li {
    display: block;
}

#header .subnav {
    left: 0;
    list-style-type: disc;
    display: none;
    position: absolute;
    background-color: #fff;
    width: 160px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    animation: FadeIn linear 0.25s;
}

.nav .subnav a {
    color: #000 !important;
    padding: 8px 16px;
    line-height: 38px;
    text-decoration: none;
}

#header li:hover .subnav {
    display: block;
}

#header .btn-menu,
#header .btn-search {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    width: 62px;
    height: var(--header-line-height);
    cursor: pointer;
    top: 0;
    right: 0;
    position: absolute;
}

#header .btn-menu {
    display: none;
}

#header .btn-menu:hover {
    background-color: #ccc;
}

#header .btn-search:hover {
    background-color: #f44336;
}

.btn-close-nav>i {
    padding-left: 50%;
    display: none;
    line-height: var(--header-line-height);
}

#header>.nav>.btn-close-nav {
    padding: 0;
}


/* Container */
/* Container - Slider */
#sliders {
    position: relative;
    margin-top: var(--header-line-height);
    padding-top: 50%;
    background: url(../img/sliders/chicago.jpg) top center / cover no-repeat;
    color: #fff;
}

#sliders .slider-info {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    bottom: 0;
    padding: 32px 16px;
}

#sliders .slider-info p {
    margin: 15px 0;
}

#sliders .slider-info h3 {
    font-size: 24px;
}

/* Container - Content */
.content-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 64px 16px;
}

.content-section .section-heading {
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;
}

.content-section .section-subheading {
    opacity: 0.6;
    margin: 15px 0;
    font-style: italic;
    text-align: center;
}

.content-section .member-about {
    margin: 15px 0;
    text-align: justify;
    line-height: 1.5;
}

.list-member {
    padding: 32px 0;
}

.member-info {
    width: calc(100% / 3);
    float: left;
    text-align: center;
}

.member-info .member-name {
    margin: 15px 0;
}

.member-info .member-avatar {
    width: 60%;
    border-radius: 4px;
    margin-bottom: 16px;
}

/* Container - Tours */
#tours {
    background-color: #000;
}

#tours .list-tour {
    background-color: #fff;
    list-style-type: none;
    font-size: 15px;
    line-height: 1.5;
}

#tours .list-tour li {
    color: #757575;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

#tours .sold-out {
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 0 8px;
}

#tours .quantity {
    padding: 0 8px;
    margin-right: 16px;
    float: right;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
}

#tours .list-place {
    padding: 32px 0;
}

.list-place {
    margin: 0 -8px;
}
.place-item {
    width: calc(100% / 3);
    float: left;
    padding: 0 8px;
}

.place-item .place-info {
    background-color: #fff;
    padding: 0 16px;
}

.place-item .place-img {
    width: 100%;
    display: block;
}

.place-item .place-img:hover {
    opacity: 0.6;
}

.place-item .place-name {
    padding: 15px 0;
}

.place-item .place-date {
    margin-bottom: 15px;
    opacity: 0.6;
}

.place-item .place-about {
    margin: 15px 0;
}

.place-item .buy-ticket {
    margin-bottom: 16px;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    border: 0;
    height: 38.5px;
    font-size: 15px;
    cursor: pointer;
}

/* Container - Contact */
#contact .contact-info {
    padding: 32px 0;
}

.contact-info .contact-ico {
    width: 30px;
    height: 20px;
}

.contact-info .contact-details p {
    margin-bottom: 8px;
    font-size: 18px;
}

.contact-info .contact-details {
    float: left;
    margin-bottom: 16px;
}

.contact-info .contact-input {
    float: right;
}

.contact-info .contact-input input {
    padding: 8px;
    border: 1px solid #ccc;
    height: 40.1px;
    font-size: 15px;
}

.contact-info .contact-body {
    margin-bottom: 8px;
}

.contact-info .input-message {
    width: 100%;
}

.contact-info .btn-send {
    float: right;
    margin: 16px 0;
    padding: 8px 16px;
    font-size: 15px;
    background-color: #000;
    border: 0;
    color: #fff;
    height: 38.5px;
    cursor: pointer;
}

.place-item .buy-ticket:hover,
.contact-info .btn-send:hover {
    background-color: #ccc;
    color: #000;
}

/* Container - Mapping */
.map {
    background-repeat: no-repeat;
    filter: grayscale(50%);
    width: 100%;
}

/* Container - Footer */
#footer {
    padding: 64px 16px;
    height: 215px;
    background-color: #f1f1f1;
    text-align: center;
}

#footer>a>i {
    font-size: 25px;
    margin: 0 2px;
    text-decoration: none;
    color: #000;
    opacity: 0.6;
}

#footer .subfooter a,
#footer .subfooter {
    margin-top: 15px;
    color: #000;
    opacity: 0.6;
}

#footer>a:hover>i {
    opacity: 0.3;
}

/* Modal */
.modal {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.open {
    display: flex;
}

.modal .modal-container {
    background-color: #fff;
    width: 900px;
    animation: buyTicketFadeIn ease 0.2s;
}

.modal .modal-header {
    background-color: #009688;
    width: 100%;
    height: 129px;
    position: relative;
}
.modal .modal-header i {
    margin-right: 16px;
}
.modal .modal-header p {
    /* padding: 32px 16px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    font-size: 30px;
    letter-spacing: 4px;
}

.modal .btn-modal-close {
    background-color: #009688;
    color: #fff;
    border: 0;
    padding: 13px;
    top: 0;
    right: 0;
    position: absolute;
}

.modal .btn-modal-close:hover {
    opacity: 0.6;
}

.modal .btn-modal-close i {
    margin: 0;
}

.modal .modal-footer,
.modal .modal-body {
    padding: 0 16px;
}

.modal-section .modal-label {
    margin: 15px 0;
}

.modal-section .modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

.modal .btn-pay {
    padding: 16px;
    margin: 16px 0;
    background-color: #009688;
    color: #fff;
    border: 0;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
}

.modal .btn-pay:hover {
    color: #000;
    background-color: #ccc;
}

.modal .modal-footer {
    float: right;
    margin-bottom: 15px;
}

.modal .modal-footer a {
    color: #2196F3;
}

@keyframes buyTicketFadeIn {
    from {
        transform: translateY(-200px);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes FadeIn {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}