* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

p {
    font-size: 15px;
}

:root {
    --header-line-height: 46.5px;
}

.text-white {
    color: #fff;
}

/* Header */
#header {
    height: var(--header-line-height);
    width: 100%;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    position: fixed;
}

#header>.nav>li,
#header .nav li a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    line-height: var(--header-line-height);
    padding: 0 12px;
    font-size: 15px;
    display: inline-block;
    position: relative;
}

#header li:hover,
#header>.nav>li:hover>a {
    background-color: #ccc;
    color: #000;
}

#header .nav-more {
    padding: 0 24px !important;
}

#header .subnav li {
    display: block;
}

#header .subnav {
    left: 0;
    list-style-type: disc;
    display: none;
    position: absolute;
    background-color: #fff;
    width: 160px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.nav .subnav a {
    color: #000 !important;
    padding: 8px 16px;
    line-height: 38px;
    text-decoration: none;
}

#header li:hover .subnav {
    display: block;
}

#header .btn-search {
    float: right;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    width: 62px;
    height: var(--header-line-height);
    cursor: pointer;
}

#header .btn-search:hover {
    background-color: #f44336;
}

/* Container */
/* Container - Slider */
#sliders {
    position: relative;
    margin-top: var(--header-line-height);
    padding-top: 50%;
    background: url(../img/sliders/chicago.jpg) top center / cover no-repeat;
    color: #fff;
}

#sliders .slider-info {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    bottom: 0;
    padding: 32px 16px;
}

#sliders .slider-info p {
    margin: 15px 0;
}

#sliders .slider-info h3 {
    font-size: 24px;
}

/* Container - Content */
.content-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 64px 16px;
}

.content-section .section-heading {
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;
}

.content-section .section-subheading {
    opacity: 0.6;
    margin: 15px 0;
    font-style: italic;
    text-align: center;
}

.content-section .member-about {
    margin: 15px 0;
    text-align: justify;
    line-height: 1.5;
}

.list-member::after {
    content: "";
    display: block;
    clear: both;
}

.list-member {
    padding: 32px 0;
}

.member-info {
    width: calc(100% / 3);
    float: left;
    text-align: center;
}

.member-info .member-name {
    margin: 15px 0;
}

.member-info .member-avatar {
    width: 60%;
    border-radius: 4px;
    margin-bottom: 16px;
}